**/build/
/data/
!/data/costume_core_ontology/cache/
!/data/synthetic/
**/dist/
/.git/
/.github/
/.idea/
**/*.log
**/*.iml
**/.mypy_cache/
**/.next/
**/node_modules/
**/.nyc_output/
**/out/
**/public/data.trig/
**/public/img/archive/
**/__pycache__/
**/.pytest_cache/
**/test/
!/lib/ts/test
lib/ts/test/dist/
lib/ts/test/node_modules/
**/tests/
**/*.pyc
