**/build/
/data/
!/data/costume_core_ontology/extracted/
!/data/synthetic/
**/dist/
/.git/
/.github/
/.idea/
**/*.log
**/img/archive/
**/*.iml
**/.mypy_cache/
**/.next/
**/node_modules/
**/.nyc_output/
**/out/
**/__pycache__/
**/.pytest_cache/
**/test/
!/lib/ts/test
**/tests/
**/*.pyc
