**/build/
/data/
**/dist/
/etl/test/
/.git/
/.github/
/.idea/
**/*.log
**/*.iml
**/img/archive/
**/.mypy_cache/
**/__pycache__/
**/.pytest_cache/
**/.next/
**/node_modules/
**/.nyc_output/
**/out/
**/*.pyc
/ssg/test/
