/app/collection/public/img/archive/
/app/exhibition/public/img/archive/
build/
/data/creative_commons/
/data/gordon-book-export/
/data/markdown_directory/loaded/
/data/rights_statements_dot_org/
dist/
*.egg-info/
*.iml
/lib/ts/lunr/@paradicms/
/lib/ts/models/coverage/
/lib/ts/models/@paradicms/
.next/
.mypy_cache/
node_modules/
null/
.nyc_output/
out/
*.pyc
venv/
yarn-error.log
