build/
/config/
/data/costume_core_ontology/loaded/data/
/data/costume_core_ontology/loaded/original_image_cache/
/data/costume_core_ontology/loaded/thumbnail_cache/
/data/test/markdown_directory/loaded/
dist/
*.iml
/lib/ts/lunr/@paradicms/
/lib/ts/models/coverage/
/lib/ts/models/@paradicms/
.next/
.mypy_cache/
node_modules/
null/
.nyc_output/
out/
**/public/img/archive/
*.pyc
.pytest_cache/
yarn-error.log
